/*
*
*           LAYOUT
*
*/

body{
	margin:0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}

.header_bar{
	background-color: #e74c3c;
	margin:0px auto;
	position: fixed;
	width: 100%;
}

.recherche_container{
	text-align: right;
	padding: 15px 250px;
}
#recherche_input{	
	padding: 15px 40px;
	border:none;
	border-radius: 2px;
	font-size: 20px;
}

.structure{
	height: 1200px;
    margin: 0 auto;
    padding: 150px 15px;
    width: 1170px;
    background-color: #ecf0f1;
}

.topbar-menu a{
    float: left;
    color: white;
    text-decoration: none;
    padding-top: 17px;
    padding-left: 10px;
    font-size: 42px;

}


/*
*
*           ACCUEIL
*
*/


.table_container{
	width:60%;
	float:left;
}
.table_titre{
	
    font-size: 20px;
    text-align: center;
}

.subheader{
	text-align: center;
	font-weight: bold;
	background-color: #e74c3c;
	padding: 2px;
    color: white;
    border-radius: 3px 3px 0px 0px;
}
.subheader_container{
	padding-top: 20px;
}
.table_match{
	 cursor: pointer;
	 width:100%;
	border-collapse: collapse;
	border-spacing: 0;
	border-radius: 0px 0px 3px 3px;
    overflow: hidden;
}

table{
	border-collapse: collapse;
}

td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}

tr.tr_match {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    background-color: #8a8a8a;
}
tr:nth-child(even).tr_match {
    background-color: #b7b7b7;;
}
tr:hover.tr_match{
	background-color:#c7c7c7;
}
tr:nth-child(even):hover.tr_match {
    background-color: #c7c7c7;
}
tbody{
	color: white;
}

.match_state_end{
	background-color: #6f6f6f;
    padding: 3px 10px;
    border-radius: 4px;
    font-style: bold;
    font-weight: bold;
    color: white;
}

.match_state_now{
	background-color: #e74c3c;
    padding: 3px 10px;
    border-radius: 4px;
    font-style: bold;
    font-weight: bold;
    color: white;
}


.match_state_hours{
	font-weight: bold;
}

.team_a{
	text-align: right;
}
.team_mid{
	text-align: center;
}
.team_b{
	width: 45%;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bloc_middle{
	display: inline;
	width: 100%;
}

.table_championnat_container{
	float: left;
    padding-top: 43px;
    padding-left: 40px;
}

td.selected{
	background-color: #27ae60;
}
td.unselected{
	background-color: #b7b7b7;
}

.table_championat{
    overflow: hidden;
    border-radius: 2px;
     cursor: pointer;
}
td:hover.unselected{
	background-color: #219652;
}

/*
*
*           COMPETITION
*
*/
.droite{
    float: right;
}

.head_tab{
    color: black;
    font-weight: bold;
}


/*
*
*           JOUEUR
*
*/

#inf_gen{
    float: left;
}

#inf_gen div{
    display: inline-block;
}

#coep{
    float: right;
}

.bas{
    padding-top: 180px;
}
