<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
	  {% stylesheets 'bundles/ProjetStatisfoot/css/style.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}    
    <title>{% block title %}STATISFOOT{% endblock %}</title>
  </head>
  <body>

  <!-- HEADER-BAR -->
  <div class="header_bar">
    <nar class="topbar-menu">
      <a href="{{ path('statisfoot_accueil') }}">STATISFOOT</a>
    </nar>
    <div class="recherche_container">
      <input id="recherche_input" type="text" value "recherche" placeholder="Recherche...">
    </div>
  </div>

  <div class="structure">
    {% block body %}
    
    {% endblock %}
  </div>

    <div class="contact">
    	<div class="aligncenter">
    		si vous avez des questions, des remarques, des suggestions pour améliorer le site, n'hésitez pas à <a href=""> me contacter</a>
    	</div>
  </div>

  </body>
</html>