
{% extends "ProjetStatisfootBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - ListeEquipe{% endblock %}

{% block body %}

<div class="gauche"></div>
	<ul>
		{%for equipe in listeEquipe%}
		<li class="news">
			<ul>
				<li>{{equipe.id}}</li>
				<li>{{equipe.nom}}</li>
				<li>{{equipe.niveau.libelleNiv}}</li>
			</ul>	
		</li>
		{%endfor%}
	</ul>
{% endblock %}
