<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>STATIS-FOOT</title>
</head>
<body>
	{{equipe.id}}
	{{equipe.nom}}
	{{equipe.niveau.libelleNiv}}
	{{equipe.club.nomClub}}
</body>
</html>